*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
	padding: 0;
	border: 0;
}

/* FIN RESET CSS*/

/* <-----INICIO DEL NAVBAR -------> */  
   .header{
      position: fixed;
      display: flex;
      background-color: rgba(0, 0, 0, 0.05);
      width: 100%;
      height: 70px;
      justify-content: space-between;
      align-items: center;
      z-index: 1000;
      transition: all 0.5s ease;
  }


  
  #check{
      display: none;
  }
  
  .checkbtn{
      display: none;
  }
  
  .menu_hambur{
      height: 40px;
  }
  
  .header__logo{
      padding-left: 20px;
      transition: all 0.3s;
  }
  
  
  .header__logo:hover{
      transform: scale(0.95);
  }
  
  .menu__ul{
      list-style: none;
      display: flex;
      padding-right: 20px;
      padding-left: 20px;
      margin-bottom: 0;
      margin-top: 0;
      
  }
  
  .menu__ul .menu__titulo{
      transition: all 0.5s;
      height: 70px;
  
  }
  
  
 .menu__ul .menu__titulo:hover{
      background-color: rgba(255, 255, 255, 0.1);
      
  }
  
  .menu__ul .menu__titulo .menu_color:hover{
    font-weight: 700;
}

  .menu__ul .menu__titulo .menu_color{    
      
      display: block;
      padding: 27px 10px 23px 10px;
      text-decoration: none;
      color: white;
      font-size: small;
      font-weight: 900;
      /* text-shadow: #000 0.1em 0.1em 0.1em; */
      
  }
  
  @media (max-width: 858px) {
      .checkbtn{
          display: block;
          cursor: pointer;
          padding-right: 20px;
      }
  
      .header__menu{
          position: absolute;
          background-color: rgba(0, 0,0, 0.8);
          width: 100%;
          height: 100vh;
          top: 70px;
          right: -100%;
          transition: all 0.4s;
      }
  
      .header__menu .menu__ul{
          
          display: flex;
          flex-direction: column;
          text-align: center;
      }

  
      .header__menu .menu__ul .menu__titulo:hover{
          cursor: pointer;
  
      }
  
      .menu__ul .menu__titulo .menu_color{
          padding-top: 30px;
          font-size: larger;
          
      }
  
      #check:checked ~ .header__menu{
          right: 0;
  
      }
  
  }
  
  @media (max-width: 480px) {
      .logo{
          width: 150px;
      }
      .menu_hambur{
          height: 35px;
      }

      .navbar-index{
        position: fixed;
        background-color: #212529;
        top: 0;
      }

  }


  .navbar-pages{
    position: fixed;
    background-color: #000;
    top: 0;
    
  }

  .nav-bg{
    position: relative;
    height: 70px;
    width: 100%;
    z-index: -99999;
  }
  
  .header:hover
{
    background-color: #212529;
}
/* <<<<<<<----- FIN DEL NAVBAR ------>>>>>>>>*/

/* MODAL CSS */

.modal-body p{
    text-align: justify;
}



.section__videoHome{
    position: relative;
    width: 100%;
    height: 100vh;
    top: 0; 
} 

.videoHome{
    position: absolute;
    /* min-height: calc(100vh - 70px); */
    width: 100%;
    height: 100vh;
    object-fit: FILL;
    /* top: -70px; */
}

    @media (max-width: 480px) {
    
  
      .section__videoHome {
  
        position: relative;
        width: 100%;
        top: 70px;
        height: calc(50vh + 70px) ;
      }
      .videoHome {
          position: relative;
          
          width: 100%;
          
          object-fit: fill;
          top: 0px;
  
          height: 50vh;
         
      }
  
    }



 /*FIN CSS HASTA VIDEOS*/

/*CCS PARA LOS TITULOS DE LAS SECCIONES*/
 .tituloSecciones {
    text-align: center;
    font-size: xxx-large;
    font-family: 'Righteous', cursive;
    letter-spacing: 2px;
    font-weight: 900;
    margin: 0px 30px 0 30px;
 }



@media (max-width: 480px) {
    .tituloSecciones {
    font-size: xx-large;
}
}

 /* ------ CSS HOME/SERVICIOS  -------*/

/* .main__contenedor{
    margin: 50px 30px 0 30px;
} */

.main__contenedor{
    margin-top: 50px;
}


.main__servicios{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: center;
    justify-items: center;
    align-items: center;
    margin-top: 30px;
}

.main__contactos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
    justify-items: center;
    align-items: center;
    margin-top: 30px;

}

.contenedor-servicio{

    width: 20%;
    height: auto;
    margin-top: 20px;
    text-align: center;
    min-width: 300px;
    padding-top: 20px;
    

 }

.contenedorServicioImg{
    position: relative;
    height: 200px;
    width: 200px;
    background-color: #03045E;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.5s;
    
 }

 .contenedorServicioImg:hover{
    background-color:#023E8A;
    transform: scale(0.95);
 }

 .servicio__image{
    
   /*  background-color: #03045E; */
    margin:auto;
    position: absolute;
    left: 50px;
    top: 25%;

    
}

.servicio__titulo{
    color: black;
    font-size: xx-large;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
 }

.servicio__descripcion{
    margin-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
}


@media (max-width: 1420px){
    .main__servicios{

        display: grid;
        grid-template-columns: repeat(2, 1fr);
         
       
    }

}

@media (max-width: 760px){
    .main__servicios{

        display: grid;
        grid-template-columns: 1fr;
         
       
    }

}









 /* ------ FIN CSS HOME/SERVICIOS  -------*/



 /* ------ CSS HOME/TESTIMONIOS  -------*/



 .seccion__testiminios{
    padding: 50px 30px 30px 20px;
    background-color: rgb(240, 240, 240);
 }

 .carouserTestimonios{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    justify-content: space-evenly;
    
    margin-left: 20x;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 50px;  
 }

.contenedor-card-testimonio{
    /*border: 1px;
    border-style: solid;*/
    border-radius: 20px;
    width: 30%;
    height: auto;
    margin: 20px;
    text-align: center;
    min-width: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 7px 5px 6px -1px rgba(0,0,0,0.59);
    transition: all 0.3s;
}


.contenedor-card-testimonio:hover{
    transform: scale(1.06)
}

 .card-top{
    display: inline-flex;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
 }

 .contenedor__imagenTestimonio{
    position: relative;
    width: 30%;
    height: 100px;
    min-width: 100px;
    margin-left: auto;
    margin-right: auto;

}
 
 .imagenTestimonio{
    width: 90px;
    height: auto;
    position: relative;
    margin: auto;
    top: 5%;
   
   
 }
 
 .userTestimonio{
    width: 70%;
    padding-top: 10px;
    
 }

 .userTestimonio p{
text-align: left;
margin: 0px 5px 5px 5px;
}

.card-description{
    padding-left: 10%;
    padding-right: 40px;
}

.card-description p{
    text-align: justify;
    line-height: 2em;
    font-style:italic;
    font-family: 'Montserrat', sans-serif;
}

.userNombre{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.userCargo{
    font-size: small;
    font-family: 'Montserrat', sans-serif;
}

.userEmpresa{
    font-size: small;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}


.seccion__testimonio--mobile{
    display: none;
}

@media (max-width: 480px){

    #testimoniosHome{
        display: none;
    }

    .seccion__testimonio--mobile{
        display: block;
        padding: 0;
        padding-top: 30px;
    }

    .contenedor-card-testimonio:hover{
        transform: none
    }

    .contenedor-card-testimonio{
        border-radius: 20px;
        width: auto;
        height: auto;
        margin: auto;
        text-align: center;
        min-width: 260px;
        max-width: 260px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: white;
        box-shadow: 7px 0px 6px -5px rgba(0,0,0,0.59);
        transition: none;
       
    }

    #indicador-carousel{
        margin-top: 15px;
        margin-bottom: 0px;
        position: relative;
    }

    .titulo__testimonios--mobile{
        margin-bottom: 30px;
    }
}



 /* ------FIN CSS HOME/TESTIMONIOS  -------*/


/* ------CSS HOME/CLIENTES  -------*/
 .seccion__clientes{
    /* margin-top: 50px;
    margin-bottom: 50px; */
    padding: 50px 30px 0px 20px
 }

 .clientes__slider{
    width: 100%;    
 }


 .slider__ul{
    
    /*display: flex;
    flex-wrap: wrap;
    justify-content: center;
    */
    margin: 0;
    margin-top: 50px;
    padding: 15px 50px 0px 50px;
    text-align: center;
}

 .slider__ul li{
    display: inline;
    list-style: none;
    margin: 0 30px;
}

.slider-li img{
    width: 120px;
    height: 60px;
    filter: grayscale(1);
}
/* ------FIN CSS HOME/CLIENTES  -------*/

/* ------INICIO CSS FOOTER  -------*/
.background-footer{
    background-color: #03045E;
    padding: 20px;
    width: 100%;

}

.contenedor-footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between ;
    align-items: center;
}

.footer__logo, .accesos-footer, .footer__redes{
    min-width: 200PX;
    padding: 20px;
    
}

.footer__titulo{
    color: white;
    margin-bottom: 15px ;
}

.footer__listado{
    list-style: none;
    font-size: 12px;
    padding-left: 10px;
    
}

.footer__listado li{
    margin-bottom: 10px;
}   

.footer__li{
    color: rgb(214, 214, 214);
    text-decoration: none;
    
}

.footer__copyrigth{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    border-top: 1px;
    border-color: white;
    border-style: solid;
    margin-top: 5px;
    padding: 15px 20px 0 20px;
    text-align: center;
    color: #ffffff;
    font-size: small;
    
}

.footer-priv{
    text-decoration: none;
    color: #ffffff;
    
}

.footer-priv:hover{
    cursor: pointer;
}


@media (max-width: 480px){
    .contenedor-footer {
    align-items: center;
    justify-content: center;
    text-align: center;
    }

    .footer__listado{
        padding: 0;
    }

    .footer__copyrigth{
        justify-content: center;
    }

    .footer-priv{
        padding: 20px;
    }
}


.svg--footer{
    background-color: rgb(250, 250, 250);
}

.svg--footer--nosotros{
    background-color: #e4e4e4;
}

/* -----  INICIO DE CSS PAGINA DE NOSOTROS  ------*/

/* CSS MAIN NOSOTROS*/
.contenedor__main{
    margin-top: 60px;
    margin-bottom: 50px;
}

.contenedor-der{
   display: flex;
   flex-wrap: wrap;
    justify-content: center;
   
}

.main__images{
text-align: center;

}

.main__images img{
    width: 350px;
    padding-left:30px;
    padding-right: 30px;
    
}
.main__nosotros--texto{
    max-width: 500px;
    padding: 0 30px 50px 30px;
    text-align: justify;
    
}

.juntos    {
margin-bottom: 25px;
font-family: 'Poppins', sans-serif;
}

.main__nosotros--texto h2{
    font-size: xx-large;
}

.main__nosotros--texto p{
    text-align: justify;
  
}



/*CSS NUMEROS INFORED*/

#numerosNosotros-mobile{
display: none;
}

.seccion_numeros{
padding: 50px 30px 30px 20px;
background-color: #e4e4e4;
}


.numeros__subtitulo{
    padding-top: 15px;
    text-align: center;
    font-size: larger;
    font-weight: 500 ;
    color: #023E8A;

}

.font-subtitulo{
    font-family: 'Montserrat', sans-serif;
}

.contenedor__numeros{
    margin-top: 50px;
    margin-bottom: 0px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.contenedor-item-numero{
    /*border: 1px;
    border-style: solid;
    border-color: #000000;*/
    width: 220px;
    text-align: center;
    margin-bottom: 40px;
    
}

 .numeros__imagen{
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: white;
    margin-bottom: 20px;
    margin-left: 10px;
    transition: all 0.3s;
    
}

.numeros__imagen img{
    
    position: absolute;
    top: 25%;
    left: 50px;
}

.numeros__imagen:hover{
    scale: 1.1;
    /* border: #03045E 2.5px solid; */
    box-shadow: 7px 5px 6px -1px rgb(3 4 94 / 59%);
}


.numeros__numero p{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 5px;
    color: #023E8A;
}

.numeros__descripcion p{
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
    font-weight: 400;
}


@media(max-width: 480px){
    .numeros__imagen{
        margin: auto;
    }

    .contenedor-item-numero{
        margin: auto;
        width: fit-content;
        padding-top: 20px;
    }

    #numerosNosotros{
        display: none;
    }

    #numerosNosotros-mobile{
        display: block;
        padding-top: 40px;

    }

    #carousel__numeros--mobile{
        position: relative;
    }

    .numeros__imagen{
        box-shadow: 7px 5px 6px -1px rgb(3 4 94 / 59%);
    }

    .numeros__imagen:hover{
        scale: unset;
        transform: none;
        box-shadow: none;
    }
    
}


/*CSS staff INFORED*/

.seccion__staff{
    
    margin-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

.staff__subtitulo{
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
}

.contenedor__staff{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}


.contendor-item-staff{
    
/*border: 1px;
border-style: solid;*/
text-align: center;
margin: 30px 20px 30px 20px;
transition: all 0.3s;


}

.contendor-item-staff:hover{
    scale: 1.02;
}

.staff__imagen img{
    height: 200px;
    width: auto;
    margin-bottom: 15px;
    filter: grayscale(0.9);
    transition: all 0.3s;
  
}

.staff__imagen img:hover{
    filter: grayscale(0);
    scale: 1.05;
}

.staff__nombre p{
    font-weight: bolder;
    font-size: larger;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif
}

.staff__cargo p{
    max-width: 200px;
padding-left: 20px;
padding-right: 20px;
font-size: smaller;
font-weight: 500;
font-family: 'Montserrat', sans-serif;;
}

.seccion__partners{
    background-color: rgb(250, 250, 250);
    padding-top: 50px;
    /* padding-bottom: 50px; */
    margin-top: 0px;
    margin-bottom: 0px;

}

@media (max-width: 480px){
    .numeros__subtitulo{
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .staff__subtitulo{
        padding: 0px;
        margin-top: 20px;
    }

    

}


/* SERVICIOS */

.main__servicios--texto{
    text-align: center;
    padding-bottom: 5px;
}


.tituloServicios{
    background-color: #0077B6 ;
    padding-top: 25px;
    margin: 0;
    color: white;
}

.main__servicios--texto p {
text-align: center;
padding-left: 15px;
padding-right: 15px;

}

.contenedor__servicio{
    justify-content: space-evenly;
}

.img-consultoria{
    height: 200px;
    margin-bottom: 20px;
    
}

.seccion__servicios2, .seccion__servicios4{
background-color: rgb(250 250 250);
}

.seccion__servicios{
padding-top: 40px;
padding-bottom: 30px;
margin: 0px;
}

.bt__servicios{
    background-color: #023E8A;
    color: white;
    margin-top: 30px;
    padding: 5px 50px;
    transition: all 0.3s;
    font-size: large;
    font-style: italic;

}

.contenedor__servicios--img{
    vertical-align: middle;
}

.seccion__linkProductos{
    margin-top: 30px;
    text-align: center;
}

.linkProductos__texto{
    text-align: center;
    width: 50%;
    margin: auto;

}

.linkProductos__texto p{
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
    font-weight: bold;

}

.linkProductos__bt{
margin-top: 20PX;
}

.linkProductos__bt input{
font-style: normal;
}

.bt__servicios:hover{
    cursor: pointer;
    background-color: #03045E;
    transform: scale(1.1);
}

.linkProductos__btton{
    padding-top: 15px;
    padding-bottom: 15px;
}


/* CONTACTOS */

/* .main__contactos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
    justify-items: center;
    align-items: center;
    margin-top: 30px;
} */

.contacto__titulo{

    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

.tituloContacto{
    margin-bottom: 30px;
}

.contacto__descripcion{
    color: #023E8A;
    margin-bottom: 5px;
    font-weight:600;
    font-family: 'Montserrat', sans-serif;
}

.seccion__infoContactos{
    background-color:rgb(250, 250, 250);
    padding-top: 50px;
    padding-bottom: 40px;
    
}
.contenedor-informacion{
    padding: 30px;
    background-color: rgb(250, 250, 250);
    margin: auto;
    
}

.contenedor-mapa{
    padding: 0px;
    background-color: #217eca;
    margin: auto;
   
}

.contenedor__infoContacto{
    
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.contendor-infoItem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.contendor-infoItem img{
    height: 40px;
}

.contendor-infoItem p{
    padding-left: 20px;
    font-size: larger;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    }
    

.mapa{
    min-height: 220px;
    max-width: 650px;
    min-width: 350px;
    border: 1px;
    border-style: solid;
}

.formularioContacto{
    margin: auto;

}

.contenedor__formulario{
    
    margin-top: 50px;
}

.formItem{
    font-size: larger;
    border-bottom: 2px;
    border-style: solid;
    margin-bottom: 25px;
    width: 100%;
    height: 40px;
    
}

.consulaItem{
    height: auto;
    font-size: larger;
    border-bottom: 2px;
    border-style: solid;
    margin-bottom: 25px;
    margin-top: 25px;
    width: 100%;
}

.contenedorItems{
    
    padding-left: 15%;
    padding-right: 15%;
    /*max-width: 800px;
    min-width: 350px;*/
    margin: auto;
}

.contenedor__botonesForm{
    text-align: center;
    
}

.btForm{
    margin: 15px 100px;
}


/* ----- PRODUCTOS ---------*/

.contenedor__destacados{
    justify-content: center;
    
}

.contenedor__destacadosItem{
    border: 2px;
    border-color: #212529;
    border-style: solid;
    border-radius: 20PX;
    width: 300px;
    margin: 30px 20px 30px 20px;
    box-shadow: 7px 5px 6px -1px rgb(0 0 0 / 59%);
}

.primer-h2{
    text-align: start;
    font-family: 'Poppins', sans-serif;
}

.parrafo-main{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;  
}

.destacados__imagen{
    position: relative;
    min-height: 250px;

    
}

.destacados__imagen img{
    position: absolute;
    margin: auto;
    top: 30px;
    left: 50px;
    width: 200px;
    filter: none;    
}

.nombre__destacado{
   background-color: #0077B6;
   padding-top: 10px;  
   padding-bottom: 10px;  
}
.nombre__destacado p{
    padding: 5px 20%;
    color: white;
   
}

.nombre__destacado .tituloProducto{
    font-weight: bolder;
    font-size: larger;
    font-family: 'Poppins', sans-serif;
}

.nombre__destacado .descripcionProducto{
    font-weight: 0;
    font-size: smaller; 
    font-family: 'Montserrat', sans-serif;

}

.card-producto-bottom{
    padding-top: 30PX;
    padding-bottom: 20PX;
}

.precioProducto{
    font-size: xx-large;
    font-weight: bolder;
}

.bt__productos{

    background-color: #023E8A;
    color: white;
    margin-top: 30px;
    padding: 5px 30px;
    font-size: large;
    border-radius: 5px;
    
}

.bt__productos:hover{
    cursor: pointer;
    background-color: #03045E;

}

.seccion__productosDestacados{
    text-align: center;
}

.catergoriaProduto{
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: larger;
        
}

.seccion__productosPromociones{
margin-bottom: 50px;
}