/* INICIO RESET CSS */
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
	padding: 0;
	border: 0;
}

/* VARIABLES */
$font-titulos: 'Righteous', cursive;
$font-subtitulos: 'Poppins', sans-serif;
$font-descripcion: 'Montserrat', sans-serif;



/* MIXIN */
@mixin titulo-Secciones {
    text-align: center;
    font: {
        size:xxx-large;
        family: $font-titulos;
        weight: 900;
    };
    letter-spacing: 2px;
    margin: 0px 30px 0 30px;
}

@mixin titulo-main {
    text-align: start;
    font-family: $font-subtitulos;
    font-size: xx-large;
}

@mixin  descripcion-main{
    font-family: $font-descripcion;
    font-weight: 500;
    text-align: justify;
    
}

@mixin parrafo-nombre-staff {
    font-weight: bolder;
    font-size: larger;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    font-family: $font-subtitulos   
}

@mixin parrafo-cargo-staff {
    max-width: 200px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: smaller;
    font-weight: 500;
    font-family: $font-descripcion;
}



@import 'index';
@import 'nosotros';
@import 'servicios';
@import 'contacto';
@import 'productos';
@import 'querys';
